body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
#map_canvas {
	width: 100%;
	height: 100%;
}

/*
.calendar-2 {
	top: 10px !important;
	left: 10px !important;
}

#tabs {
	position: relative;
	padding-right: 30.5em;
}
#tabs .ui-tabs-nav {
	position: absolute;
	left: 15em;
	top: 0.25em;
	bottom: 0.25em;
	width: 2em;
	padding: 0.2em 0.2em 0.2em 0em;
}
#tabs .ui-tabs-nav li {
	width: 100%;
	height: 15em;
	border-left: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
	overflow: hidden;
}
#tabs .ui-tabs-nav li.ui-tabs-selected {
	left: -1px;
	border-left: 1px solid transparent;
}
#tabs .ui-tabs-nav li a {
	width: 100%;
}
#tabs > div {
	height: 100%;
}
.ui-widget-content {
	border: 0px !important;
}
#tabs {
	position: relative;
	width: 220px;
	height: 100%;
}
#tabs .ui-tabs-nav {
	position: absolute;
	left: 219px;
	padding: 0;
}
.ui-tabs .ui-tabs-nav li {
	margin: 0 !important;
	border-bottom: 1px solid lightGrey !important;
}
.ui-tabs {
	padding: 0 !important;
}
.ui-tabs .ui-tabs-panel {
	border: 1px solid #AAA !important;
}
.ui-state-default {
	background: None !important;
}
*/


/*
#tabs {
	position: absolute;
	width: 240px;
	height: 640px;
	top: 10px;
	left: 10px;
	border: 1px solid lightgray;
	background: white;
}

#tabs-nav {
	position: absolute;
	top: 10px;
	left: 251px;
	width: 28px;
	height: 160px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	background: white;
}
#tabs_wrapper {
    width: 422px;
}
#tabs_container {
    border-bottom: 1px solid #ccc;
	background: white;
}
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
	background: white;
}
#tabs li {
    display: inline;
}
#tabs li a {
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-decoration: none;
    background-color: #eeeeee;
    border-bottom: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}
#tabs li.active a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
 
#tabs_content_container {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    width: 400px;
}
.tab_content {
    display: none;
}

	*/
